<ul class="list-group list-group-flush">
        <% @tags.each do |tag| %>
            <li class="list-group-item"><a href="/search/<%= tag.name %>">#<%= tag.name %></a></li>
        <% end %>
    </ul>