<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/ask">Ask Question</a>

    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/myquestions">My Questions</a>

    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/answered">Answered Question</a>

    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/liked">Liked Question</a>

    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/commented">Commented Question</a>

    </li>
</ul>